 .telalogin .container {
    width: 80%;
    margin: auto;
    
 }

.telalogin .container{
    /* border: solid 1px black; */
    margin-top: 50px;
}

.caixa img{
    border-radius: 30px;
    width: 450px;
    /* margin-left: 100px; */
}

.telalogin .container .caixas {
    
    display: flex;
    margin-left: 200px;
    /* justify-content: space-evenly; */
    
}

.telalogin .container .caixas .caixa1{
    /* border: solid 3px black; */
    width: 420px;
    margin-left: 20px;
}

.formulario .tipo_campo {
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 78px;
    font-size: 20px;
    font-weight: 600 !important;
    
    
}

.formulario {
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

input {
    width: 250px;
    margin-bottom: 20px;
    margin-left: 78px;
    border: 2px solid rgba(255, 1, 1, 0.28);
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

.btn {
    font-family: "Barlow", sans-serif;
    border: 0;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
    padding: 10px 15px;
    color: white;
    background-color: rgba(147, 0, 0, 0.993);
    width: 120px;
    align-self: center;
    margin-top: 30px;
    margin-left: 8px;
}

.btn:hover{
    background-color: rgba(147, 0, 0, 0.423);
    color: rgba(147, 0, 0, 0.993);
}

.caixa1 h2{
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 50px;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    flex-direction: center;
    
}

.footer1 {
    background-color: rgba(255, 1, 1, 0.28);
    height: 200px;
    display: flex;
    margin-top: 50px;
    font-size: 30px;
    justify-content: center;
    text-align: center;

}

.footer1 img{
    width: 50px;
    margin-left: 40px;
    margin-top: 20px;

}

.footer1 h4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-left: 40px;
}





  