.quadro {
    width: 80%;
    margin: auto;
    margin-top: 50px;
}

.caixas1 {
    display: flex;
    justify-content: space-between;
}

.box1 {
    width: 500px;
    height: 600px;
    border-radius: 20px;
    background-color: rgba(148, 159, 197, 82%);
    padding: 50px 20px 10px 30px;
    margin-bottom: 30px;
}

